.page-header {
    padding-left: 5em;
}

h3 {
    position:relative;
    padding-left: 3em;
}

.headerCenter {
    text-align: center;
}

img.imgCentered {
    display: block;
    margin: 0 auto;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form {
    padding-left: 5em;
    padding-right: 5em;
}

.singlePicture {
    padding-left: 5em;
    padding-right: 5em;
}

.commentSection {
    padding-left: 5em;
    padding-right: 50%;
}

.writeComment {
    position: fixed;
    padding-right: 5em;
    width: 40%;
    bottom: 0;
    right: 5em;
}

.pictures {
    padding-left: 5em;
    padding-right: 5em;
    border-width: 2em;
}

@media screen and (max-width: 800px) {
    img{
        width: 50%;
    }   
    
    .writeComment {
        padding-right: 0em;
        right: 0em;
    }
}