<!DOCTYPE html>
<html>
    <head>
        <title>All pictures</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <!-- Picture upload form -->
        <section class="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Upload a picture</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <label>Picture name</label>
                        <input class="form-control" name="pictureName" type="text" ng-model="pictureName">
                        <br>
                        <span class="btn btn-primary btn-file">
                            Browse <input type="file" name="file" onchange="angular.element(this).scope().postPicture(this.files)"/>
                        </span>
                        <span id="helpBlock" class="help-block">The picture will be uploaded once a file has been chosen.</span>
                    </form>
                </div>
            </div>
        </section>
        
        <!-- Display message and number of pictures -->
        <h3>{{message}}</h3>
        <br>
        <h3>{{nrOfPictures}} 
            <ng-pluralize count="nrOfPictures"
                 when="{'one': 'picture',
                     'other': 'pictures'}">
            </ng-pluralize>
        </h3>
        
        <!-- Section that displays pictures -->
        <section class="pictures" >
            <div class="panel panel-default"  ng-repeat="picture in pictures">
                <div class="panel-heading">
                    <a href="#/pictures/{{picture.id}}">{{picture.name}}</a>
                </div>
                <div class="panel-body">
                    <a href="#/pictures/{{picture.id}}"><img ng-src="data:image/JPEG;base64,{{picture.thumbnail.content}}"></a>
                    <h3>{{picture.comments.length}} 
                        <ng-pluralize count="{{picture.comments.length}}"
                        when="{'one': 'comment',
                        'other': 'comments'}">
                        </ng-pluralize>
                    </h3>
                </div>
            </div>
        </section>
    </body>
</html>
